<h1><%= @topic.title %></h1>
<% @comments.each do |comment| %>
<li><%= comment.content %>
<%= comment.user.name %>
ユーザーID:<%= comment.user.id %></li>
<% end %>

<%= form_for(@comment, url: topic_comments_path(@topic)) do |f| %>
  <%= f.text_field :content %>
<%= f.hidden_field :topic_id, :value => @topic.id %>
<%= f.submit "送信する" %>
<% end %>
