<h1><%= @topic.title %></h1>
  <% @comments.each do |comment| %>
    <li>
      ユーザーID:<%= comment.user.id %>
      <h3><%= comment.user.name %></h3>
      <h3><%= comment.content %></h3>
      <h3>いいね件数:<%= comment.likes.count %></h3>
      <% if current_user.already_liked?(comment) %>
       <%= button_to 'いいね取り消し',comment_like_path(comment),method: :delete  %>
      <% else %>
       <%= button_to 'いいね', comment_likes_path(comment) %>
       <% end %>
      <% if current_user == comment.user %>
        <%= link_to "削除", comment_path(comment), method: :delete, data: { confirm: "本当に削除しますか?" } %>
      <% end %>
    </li>
  <% end %>

  <%= form_for(@comment, url: comments_path(@comment)) do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :topic_id, :value => @topic.id %>
    <%= f.submit "送信する" %>
  <% end %>
