
  <div class="sidebar">
   <div class="sidebar_item">
     <ul>
       <li><p>volley-infoは全国のバレーボールプレイヤーのための情報交換掲示板です</p></li>
       <li><%= link_to "profile","#" %></li>
       <li><%= link_to "login", "#" %></li>
        <li><%= link_to "signup","#" %></li>
       <li><%= link_to "logout","#" %></li>
       <li><%= link_to "Account deletion","#" %></li>
     </ul>
   </div>
  </div>
